<!DOCTYPE html>
	<div class:"container">
		<div class="row">
			<section class="col-lg-4 col-lg-offset-4 align">
						<h1 class="" >Bienvenido</h1>
			</section>
		</div>
		<div class="row ">
			<div class="row ">
				<div class="panel col-xs-4 col-xs-offset-4 col-lg-2 center col-lg-offset-2 ">
					<div class="panel-body">
	    				<a href="#" class="btn ">Gestion horarios</a>
	  				</div>
				</div>
				<div class="panel col-xs-4 col-xs-offset-4 col-lg-2 center col-lg-offset-1 ">
					<div class="panel-body">
	    				<a href= " <%= special_dates_path %> " class="btn ">Gestion dias especiales</a>
	  				</div>
				</div>
				<div class="panel col-xs-4 col-xs-offset-4 col-lg-2 center col-lg-offset-1 ">
					<div class="panel-body">
	    				<a href="#" class="btn ">Vacio</a>
	  				</div>
				</div>
			</div>

			<div class="row ">
				<div class="panel col-xs-4 col-xs-offset-4 col-lg-2 center col-lg-offset-2 ">
					<div class="panel-body">
	    				<a href="#" class="btn ">Administr Usuarios</a>
	  				</div>
				</div>
				<div class="panel col-xs-4 col-xs-offset-4 col-lg-2 center col-lg-offset-1 ">
					<div class="panel-body">
	    				<a href="#" class="btn ">Gestion lavadoras</a>
	  				</div>
				</div>
				<div class="panel col-xs-4 col-xs-offset-4 col-lg-2 center col-lg-offset-1 ">
					<div class="panel-body">
	    				<a href="#" class="btn ">Gestion turnos</a>
	  				</div>
				</div>
			</div>
		</div>
	</div>
</html>
